<h1>About us</h1>
<h3>We are a motivated young people who wants to have a proper way to sale not stolen Bikes in Berlin.
This is why we will ask you to register your bike first and add basic details. Then, in case somebody steal the bike you will be able to find it</h3>
