
<section class="index">
<div class="big-bear-img"></div>
<h2>Welcome!</h2>
<h4>We have new bikes in stock!</h>
<section class="deals" >
<%= image_tag("bike6.jpg", alt: "Mosquito-Cobra Bike") %>
</section>