
<section class="index">
<h1>Welcome</h1>
<h2>Find the best Deals!</h2>
<h3>Your source for used bikes in Berlin!</h3>
<section class="deals" >
<p>See our first bike Deal here!</p>
<%= image_tag("mosquito_bike_1.jpg", alt: "Mosquito-Cobra Bike") %>
</section>