<section class="thank_you">
  <br>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <p><h4>Thank you. We have received your message and will respond as soon as possible.</h4></p>
      <p><h4><a href="/"><i class="fa fa-home"></i></a><%= link_to('  Press here to go our main page', root_path) %></h4></p>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</section>