<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for purchasing with us! </h1>
    <p>
      <h3>Your order is begin processed</h3>
      <h3>Soon, You will recieve a purchase confirmation and your receipt.</h3>
    </p>
    <p>
    </p>
    <p>Thank you and have a great day!</p>
    <br>
    Your Bearlin Bike Team.
  </body>
</html>