<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for purchasing with us! </h1>
    <p>
      You have successfully order:
      <%= "Bike: #{@product.name}"  %>.<br>
      <%= "Price: #{@product.price.round(2)} Eur"  %>.<br>
      Soon, you will recieve a Receipt.
    </p>
    <p>
    </p>
    <p>Thank you, and have a great day!</p>
    Your Bearlin Bike Team.
  </body>
</html>