
<section class="index">
  <div class="big-bear-img"></div>
  <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>

  <h2>Orders</h2>
  <% if @orders.empty? %>
    <p><h3>You still don't have any orders</p></h3>
  <% else %>
    <p><h3> These are your orders!</h3></p>

    <div class="order">
      <div class="row">
        <%= render @orders %>
      </div><!-- grid -->
      <br><br>
    </div><!-- container -->
  <% end %>
  <br>
</section>