<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%#@order.name %>
</p>

<p>
  <strong>Description:</strong>
  <%#@order.description %>
</p>

<p>
  <strong>color:</strong>
  <%#@order.color %>
</p>

<p>
  <strong>Image url:</strong>
  <%#image_tag( @order.image_url, class: "img-responsive") %>
</p>

<p>
  <strong>price:</strong>
  <%#@order.price %>
</p>


 <%#link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', orders_path %>
