
<section class="index">
  <div class="big-bear-img"></div>
  <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>

  <h2>Products</h2>
  <% if @products.nil? %>
    <p><h3> Soon you will find our products list! We are working on it</h3></p>
  <% else %>
    <div class="container">
      <%= render @products %>
    </div><!-- container -->
  <% end %>
  <br>
  <%= link_to 'New Product', new_product_path %>
</section>