
<section class="index">
<div class="big-bear-img"></div>
<h2>Welcome!</h2>
<h4>We have new bikes in stock!</h>
<section class="deals" >
<%= link_to image_tag(@featured_product.image_url, alt: "New Bike"), {action: 'index', controller: 'products'} %>
</section>
